.space-body,
body {
  background-color: #000;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 768px) {
  h1, h2, h3, p {
    margin: 40px;
  }
}

@media screen and (min-width: 1200px) {
  h1, h2, h3, p {
    margin: 60px;
  }
}

.space-main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff, -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff, 4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff, -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff, 4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff, -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff, -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff, 48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff, 43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff, 39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff, 11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff, -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff, 42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff, -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff, 18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff, 27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff, -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff, -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff, -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff, 48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff, 21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff, -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff, -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff, 3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff, 35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff, 3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff, 48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff, -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff, 29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
  /* Shadow properties here */
  ;
  animation: zoom 16s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-content h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.welcome-content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

button,
input,
button[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

button[type="submit"] {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #a8a2a2;
}

/* Main Page and Styling */
#astronaut {
  height: 900px;
  max-width: 100%;
  background: url(../images/astronaut.jpeg) no-repeat left center/cover;
}

@media screen and (max-width: 480px) {
  #astronaut {
    height: 300px;
  }
}

#universe {
  height: auto;
  width: 300px;
  background: url(../images/universe.webp) no-repeat left center/cover;
  animation: zoomAndSpin 300s infinite linear; /* Increased animation duration */
}

@keyframes zoomAndSpin {
  0% {
    transform: scale(1) rotate(0deg); /* Initial scale and rotation */
  }
  25% {
    transform: scale(1.1) rotate(90deg); /* Zoom in and rotate to 90 degrees */
  }
  50% {
    transform: scale(1.2) rotate(180deg); /* Zoom in and rotate to 180 degrees */
  }
  75% {
    transform: scale(1.1) rotate(270deg); /* Zoom in and rotate to 270 degrees */
  }
  100% {
    transform: scale(1) rotate(360deg); /* Zoom out and rotate to 360 degrees */
  }
}


#sputnik {
  height: 800px;
  max-width: 100%;
  background: url(../images/sputnik.jpg) no-repeat left center/cover;
}

@media screen and (max-width: 480px) {
  #sputnik {
    height: 200px;
  }
}

h1,
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
}

p,
li {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  line-height: 2.0;
}

/* Nav Bar */
.navbar {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
  text-align: center;
  /* Center align all elements */
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

nav li a:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  nav li a {
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  nav li a {
    font-size: 10px;
    padding: 8px;
  }
}

h1#home {
  margin-top: 70px;
}

/* Facts Section */
#facts-section {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#facts-section > li {
  flex: 1 1 45%; /* Adjusted flex properties */
}

#facts-section > li img,
.fame {
  width: 100%;
  max-width: 100%; /* Adjusted max-width */
  height: auto;
  box-shadow: 0px 0px 5px #fff;
}

#facts-section > li p {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}

.blur {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 15px;
}

@media screen and (min-width: 600px) {
  #facts-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  #facts-section > li {
    flex: 0 0 100%; /* Reset flex properties to make items stack */
  }
}

/* History */

/* Hall of Fame */
.person {
  display: flex;
  margin-bottom: 20px;
}

.content {
  flex: 1;
}

img.fame {
  max-width: 200px;
  margin-left: 100px;
}

@media screen and (max-width: 550px) {
  img.fame {
    width: 100%;
    margin-left: 0;
  }
}


@media screen and (min-width: 550px) {
  .big-pic {
    flex: 0 0 300px;
    margin-left: 20px; /* Add margin to separate the image from the text */
  }
}



/* Quiz */

#quiz {
  text-align: center;
  margin-top: 50px;
}

#question {
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #3e6b40;
}