.space-body,
body {
  background-color: #000;
  color: white;
  margin: 0 40px; /* Adjusted margin syntax */
}

@media screen and (max-width: 768px) {
  body {
    margin: 40px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 60px;
  }
}

.space-main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: /* Shadow properties here */;
  animation: zoom 16s alternate infinite;
}

/* Rest of the styling remains unchanged */

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-content h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.welcome-content p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
}

button,
input,
button[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

button[type="submit"] {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #a8a2a2;
}

/* Main Page and Styling */

h1,
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
}

p {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Nav Bar */
.navbar {
  background-color: rgba(51, 51, 51, 0.8); /* Transparent black color */ 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    float: none;
  }
}

/* Quiz */

#quiz {
  text-align: center;
  margin-top: 50px;
}

#question {
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #3e6b40;
}
